*{
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.window {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    display: flex;
    flex-direction: column;
    width: 286px;
    border-radius: 20px;
    padding: 10px;
    background: #1e1e1e;
}

.screen {
    /* border: 2px solid green; */
    height: 90px;
    text-align: right;
    background: #252525;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 300;
    padding: 9px;
    border-radius: 12px;
}

.keys {
    display: flex;
    /* border: 2px solid blue; */
    flex-wrap: wrap;
    gap: 2px;
    background: #1e1e1e;
    border-radius: 12px;
}

.btn {
    flex: 0 0 60px;
    height: 50px;
    margin: 2px;
    cursor: pointer;
    border-radius: 10px;
}

.digit {
    background: #2d2d2d;
    color: white;
}

.operator {
    background: #3b82f6;
    color: white;
}

.btn:hover {
    filter: brightness(1.15);
    /* transform: translateY(-2px); */
}

.btn:active {
    transform: scale(0.96);
}

.other {
    background: #404040;
    color: white;
}

.preview {
    text-align: end;
    line-height: 0;
    height: 35px;
    background: #252525;
    color: #9ca3af;
    font-size: 1rem;
    padding: 9px;
    border-radius: 12px;
}

.yellow {
    background: rgb(255, 163, 50);
    flex: 0 0 125px;
}