*{
    box-sizing: border-box;
}

.window {
    border: 2px solid red;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    width: 269px;
}

.screen {
    border: 2px solid green;
    height: 100px;
    text-align: end;
}

.keys {
    display: flex;
    border: 2px solid blue;
    flex-wrap: wrap;
    gap: 2px;
}

.btn {
    flex: 0 0 60px;
    height: 50px;
    margin: 2px;
    cursor: pointer;
}

.preview {
    border: 2px solid gray;
    line-height: 0;
}

